<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p><h3><center>Oi, meu nome é Kelly Cruz sou estudande de Análise e Desenvolvimento de Sistemas e nas horas livres me dedico aos jogos de console,mobile, cartas, tabuleiros, futebol(físico), sou uma pessoa focada, observadora e curiosa.</center></h3></p>
